@import "_config";

/* ------------------------------------------------
Header
------------------------------------------------ */

.header {
    background-color: $color-base;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    position: fixed;
    top: 0;
    transition: 0.4s;
    z-index: 99;
    @include mq(sm) {
        display: block;
        padding: 0 20px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &-logo {
        width: 200px;
        margin: 0;
        a img {
            width: 100%;
        }
    }

    nav {
        @include mq(sm) {
            display: none;
        }
        ul {
            display: flex;
            li {
                list-style: none;
                padding: 0 10px;
                margin: 0 5px;
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    img {
                        width: 30px;
                        @include mq(sm) {
                            width: 100%;
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
}
.bg-base {
    background-color: $color-base;
}

/* ------------------------------------------------
TopView
------------------------------------------------ */

.top {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    &_h1 {
        @include font-size(80);
        line-height: 1.1;
        text-decoration: none;
        display: block;
        text-shadow: 0px 8px 9px rgb(202, 183, 36), 0px -2px 1px #fff;
        @include mq(sm) {
            @include font-size(40);
        }
    }
}

/* ------------------------------------------------
Introducion
------------------------------------------------ */

.introduction {
    padding: 90px 0 70px;

    &-contents {
        display: block;
        padding-top: 30px;
        @include mq(sp) {
            display: flex;
        }
        img {
            display: block;
            width: 30%;
            margin: 0 auto;
            @include mq(sp) {
                width: 50%;
                margin: 0;
            }
            @include mq(pc) {
                width: 30%;
                margin: 0 10%;
            }
        }
        &-text {
            width: 100%;
            padding: 0 30px;
            @include mq(sp) {
                width: 50%;
                padding: 0 30px;
            }
        }
    }

    @include mq(sm) {
        padding: 60px 20px;
        text-align: left;
    }
}

/* ------------------------------------------------
Skill
------------------------------------------------ */

.skill {
    text-align: center;
    padding: 70px 0;
    background-color: $color-bg;
    h2,
    h3 {
        color: #fff;
    }
    h3 {
        padding-top: 30px;
    }
    table {
        color: #fff;
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
        width: 70%;
        margin: 0 auto;
        tr,
        td {
            text-align: center;
            width: calc(100% / 3);
            padding: 15px 0;
            border: none;
        }
        tr {
            cursor: pointer;
            transition: 0.4s;
            th {
                border: none;
                font-weight: normal;
            }
            td {
                font-weight: bold;
            }
        }
    }
    @include mq(sm) {
        padding: 60px 20px;
        table {
            width: 100%;
        }
    }
}

/* ------------------------------------------------
Achievement
------------------------------------------------ */

.achievement {
    text-align: center;
    padding: 70px 0;
    &-note {
        font-size: 14px;
        color: $text_underbar;
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
        &-one {
            width: calc(100% / 3);
            padding: 30px 15px 0 15px;
            img {
                width: 80%;
            }
            p {
                margin: 20px 0;
                font-weight: bold;
            }
        }
    }
    @include mq(sm) {
        padding: 60px 20px;
        &-content {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 0 auto;
            &-one {
                width: 50%;
                padding: 0 15px;
                margin-top: 30px;
                img {
                    width: 80%;
                }
                p {
                    margin-top: 30px;
                    font-weight: bold;
                }
            }
        }
    }
}

/* ------------------------------------------------
Contact
------------------------------------------------ */

.contact {
    text-align: center;
    padding: 70px 0;
    background-color: $color-bg;
    h2 {
        color: #fff;
    }

    &-div {
        padding-top: 50px;
        p {
            color: #fff;
        }
        &-twitter {
            width: 30px;
            padding-bottom: 30px;
            display: block;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        &-mail {
            color: #fff;
            text-decoration: none;
        }
    }
    @include mq(sm) {
        padding: 60px 20px;
        &-div {
            padding-top: 20px;
            &-twitter {
                padding-bottom: 20px;
            }
        }
    }
}

/* ------------------------------------------------
Footer
------------------------------------------------ */

.footer {
    background-color: $color-base;
    &-sns {
    }
    &-nav {
        position: sticky;
        bottom: 0;
        background-color: $color-base;
        @include mq(sp) {
            display: none;
        }
        ul {
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            li {
                list-style: none;
                padding: 10px 0;
                a {
                    text-decoration: none;
                    font-weight: bold;
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
    &-copyright {
        text-align: center;
        color: #fff;
        padding: 10px 0;
        margin: 0;
    }
}
